<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <div style="height: 40px"></div>
    <div class="img-right" style="padding-bottom: 20px; text-align: center">
      <img
        class="img-right"
        src="../../../../assets/tharwat1.png"
        width="160mm"
        height="80mm"
      />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid1">
    <ion-list>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Vivek Khamar</ion-label>
        <ion-note slot="end"
          >Request ID:
          <span style="font-size: 16px"> #125 </span>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Neel Patel</ion-label>
        <ion-note slot="end"
          >Request ID:
          <span style="font-size: 16px"> #122 </span>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Test Driver</ion-label>
        <ion-note slot="end"
          >Request ID:
          <span style="font-size: 16px"> #120 </span>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Dummy Driver</ion-label>
        <ion-note slot="end"
          >Request ID:
          <span style="font-size: 16px"> #117 </span>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Neel Patel</ion-label>
        <ion-note slot="end"
          >Request ID:
          <span style="font-size: 16px"> #110 </span>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Neel Patel</ion-label>
        <ion-note slot="end"
          >Request ID:
          <span style="font-size: 16px"> #109 </span>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Vivek Khamar</ion-label>
        <ion-note slot="end"
          >Request ID:
          <span style="font-size: 16px"> #125 </span>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Neel Patel</ion-label>
        <ion-note slot="end"
          >Request ID:
          <span style="font-size: 16px"> #122 </span>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Test Driver</ion-label>
        <ion-note slot="end"
          >Request ID:
          <span style="font-size: 16px"> #120 </span>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Dummy Driver</ion-label>
        <ion-note slot="end"
          >Request ID:
          <span style="font-size: 16px"> #117 </span>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Neel Patel</ion-label>
        <ion-note slot="end"
          >Request ID:
          <span style="font-size: 16px"> #110 </span>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Neel Patel</ion-label>
        <ion-note slot="end"
          >Request ID:
          <span style="font-size: 16px"> #109 </span>
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
