<ion-header>
  <ion-toolbar>
    <ion-title dir='rtl'>معلومات التواصل</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  >
<ion-list dir='rtl'>
  <ion-col>
    <ion-row>
      <ion-text color="primary" floating> اسم من يسلم الطلب</ion-text>
    </ion-row>
  </ion-col>
   </ion-list>
 <ion-item>
  <ion-input [(ngModel)]="info_connect.name"></ion-input>
</ion-item>
<ion-item>
  <ion-input  type='number' [(ngModel)]="info_connect.numberphone"></ion-input>
</ion-item>  
<ion-item>
  <ion-datetime  [(ngModel)]="info_connect.birth_date" min="2021-01-01" max="2040-01-01" displayFormat="YYYY MM DD"></ion-datetime>
</ion-item>
<ion-item  >
  <ion-segment color="tertiary" [(ngModel)]="info_connect.time">
    <ion-segment-button  value='صباح'>
      <ion-label>صباح</ion-label>
      <!-- <ion-icon name="call"></ion-icon> -->
    </ion-segment-button>
    <ion-segment-button value='مساء' >
      <ion-label>مساء</ion-label>
      <!-- <ion-icon name="heart"></ion-icon> -->
    </ion-segment-button>
  </ion-segment>
</ion-item>
<ion-button (click)="submit()" mode="ios" expand="block"  color="green" fill="outline" class="ion-margin-top" >ارسال</ion-button>
</ion-content>
