
<ion-content>
  <ion-grid class="grid1">
    <ion-row class="row1">
        <ion-col>
        </ion-col>
    </ion-row>
    <ion-row class="row2">
        <ion-col>
        </ion-col>
    </ion-row>
</ion-grid>
<ion-slide >
  <div class="contaier-login">
    <div>
      <form #form="ngForm"(ngSubmit)="register(form)" method="post">
      <ion-grid>
<ion-row>
  <ion-col>
      <h1>تسجيل مستخدم جديد</h1>
  </ion-col>
</ion-row>
<ion-row> 
  <ion-col>
      <ion-list>
        <ion-item  dir="rtl" >
          <ion-icon name="person-outline" class="icon-login" ></ion-icon>
      <ion-input  dir="rtl" ngModel name="name" placeholder="الاسم"></ion-input>
    </ion-item>
    <br/>
          <ion-item dir="rtl">
              <ion-icon  name="at-outline" class="icon-login"></ion-icon>
              <ion-input  ngModel type="email"  name="email" required placeholder="البريدالإكتروني"></ion-input>
          </ion-item>
          <br />
          <ion-item dir="rtl">  
              <ion-icon name="eye-off-outline" class="icon-login"></ion-icon>
              <ion-input  ngModel type="password" name="password" required placeholder="كلمة المرور"></ion-input>
          </ion-item>
          <br />
          <ion-item dir="rtl">  
            <!-- Type -->
            <ion-label>يكتب</ion-label>
            <ion-select ngModel type="accountType" name="accountType" required interface="action-sheet">
              <!-- User -->
              <ion-select-option value="user">المستعمل</ion-select-option>
              <!-- Driver -->
              <ion-select-option value="driver">سائق</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-list>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
      <ion-button type="submit"  color="medium" fill="solid" expand="full">
         تسجيل دخول
      </ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
      <ion-label>
          <h3 (click)="loginModal()">لديك حساب بالعفل ؟ اضغط هنا </h3>
      </ion-label>
  </ion-col>
</ion-row>
</ion-grid></form></div>
</div>   
</ion-slide> 
</ion-content>
