.grid1 {
  height: 95%;
  padding: 0px;
  //   background-color: rgb(218, 218, 218);
}

.row1 {
  height: 190%;
  margin-top: 0cm;
  background: -moz-linear-gradient(
    45deg,
    rgba(227, 227, 231, 0.973) 0%,
    rgb(255, 255, 255) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgb(233, 230, 230) 0%,
    rgba(245, 235, 235, 0.904) 100%
  );
  background: linear-gradient(
    45deg,
    rgb(192, 186, 186) 0%,
    rgba(255, 254, 254, 0.856) 100%
  );
}

.pd5 {
  padding-left: 5px;
  padding-right: 5px;
}

.content {
  width: 100%;
  height: 400px;
  //   background-color: white;
  //   border: 1px solid red;
}

.accept {
  --background: #b9922e !important;
  width: 96%;
}

.reject {
  --background: #b9922e !important;
  width: 48%;
}

.ion-button {
  --color: black !important;
  --background: silver !important;
  --border-color: #b9922e !important;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.fheading {
  font-size: 20px;
  margin: 10px;
}

.center {
  text-align: center;
}
